.game {

}

.players {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.player {
    margin: 0 30px;
    height: 15vh;
    width: 15vh;
}

.player > .ship {
    position: absolute;
    z-index: 2;
}

.player > .ship > img {
    height: 15vh;
    width: 15vh;

    z-index: 2;
}

.player > .ship > video {
    position: absolute;
    height: 15vh;
    width: 15vh;

    z-index: 2;
}


.munitions {
    align-items: center;
    display: flex;

    height: 100%;

}

#player-1 > .munitions {
    justify-content: end;
}

.bullet {
    position: absolute;

    background-size: contain;
    background-repeat: no-repeat;

    z-index: 1;

    transition: transform ease-in-out 500ms;
}

.bullet-1 {
    height: 40px;
    width: 50px;

    background-image: url('../assets/fires/fire_1.svg');
}
.bullet-2 {
    height: 10px;
    width: 20px;
    background-image: url('../assets/fires/fire_2.svg');
}


.hud {
    position: absolute;
    top: 20px;
}

.health-bars {
    display: flex;
    gap: 40px;
}

.health-bar {
    width: fit-content;
    display: flex;
}


.health-bar:nth-child(1) {
    flex-direction: row-reverse;
    border: 5px solid #2555E7;
}

.health-bar:nth-child(2) {
    border: 5px solid #EE9027;
}

.health-bar:nth-child(1) > svg {
    border-left: 5px solid #2555E7;
}

.health-bar:nth-child(2) > svg {
    border-right: 5px solid #EE9027;
}

.health-bar > svg {
    box-sizing: content-box;
}

.bar-parent {
    width: calc(300px - 65px);
    padding: 5px;

    display: flex;
}

.health-bar:nth-child(2) > .bar-parent {
    flex-direction: row-reverse;
}

.progress-bar {
    height: 100%;
    width: 100%;
}


.health-bar:nth-child(1) > .bar-parent > .progress-bar {
    background: #5BC0F8;
}

.health-bar:nth-child(2) > .bar-parent > .progress-bar {
    background: #FCEB77;
}

.start-timer {
    pointer-events: none;
    position: absolute;

}
.timer-container {
    font-size: 100px;
}