.noises {
    pointer-events: none;
}

.noise > div {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    flex-shrink: 0;
}

#noise-lines {

    opacity: 0.2;
    background-image: url("../../assets/noise/lines.png");
    background-color: gray;
    background-position: 0 0, 0 0;
    background-size: 3px 3px;
    background-repeat: repeat, repeat;

    mix-blend-mode: hard-light;

    z-index: 99999;
}


#noise-snow {
    opacity: 0.1;
    background: url("../../assets/noise/snow.gif") lightgray 50% / 80% repeat;

    mix-blend-mode: darken;

    z-index: 99998;
}

