.screen-container {
    z-index: 99;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: center;
}

.screen-container, .screen-container * {
    cursor: auto;
}

.screen-container > .title {
    position: absolute;

    top: 6vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}


#start-screen {

}

/*
.content
    .player-card .player-1 .player-2
        img
        .form
            label
            input
    .start-btn
        button
*/

#start-screen > .content {
    display: flex;
}

#start-screen > .content > .player-card {
    width: 15vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#start-screen > .content > .player-card > img {
    height: 15vh;
}


#start-screen > .content > .player-card > .form {
    display: flex;
    flex-direction: column;
    width: auto;
}